@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
}

body {
  min-height: 100vh;
  margin: 0;
  background: black;
  color: white;
}

body > div {
  min-height: 100vh;
}
